trigger:
  branches:
    include:
    - main

variables:
  buildConfiguration: 'Release'
  
pool:
   name: 'Default' 
  
steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'
- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: true
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'sc100'
    appType: 'webAppLinux'
    appName: 'appIndia'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'
